@import forms.PaperList
@(list: List[Paper], conf_id:Int ,flash: play.mvc.Http.Flash)
@import helper._


@main {

  <h2>My Papers</h2>
     <form method="GET" action="/papers">
         Select conference:
        <select id="conf_list" name="conf_id">
            <option value=""
                @if(conf_id == 0){
                    selected
                }
            >
            </option>
            @for(conf <- Conference.getConferencesByUser(lib.UserStorage.getCurrentUser().id)) {
                <option value=@conf.id
                    @if(conf_id == conf.id) {
                    selected
                }
                >
                    @conf.title
                </option>
            }
        </select>
    </form>
    <h2 id="homeTitle">Papers found: @list.size()</h2>
    <table class="zebra-striped">
        <thead>
      <tr>
          <th>Paper ID</th>
          <th>Title</th>
          <th>Topic</th>
          <th>Contact email</th>
          <th>Authors</th>
          <th>Award Candidate</th>
          <th>Student Volunteer</th>
          <th>Status</th>
          <th>Abstract</th>
          <th>Conference</th>
          <th>File Info</th>
          <th>Submission Date</th>
          <th>Edit</th>
      </tr>
      </thead>

        <tbody>
            @for(paper <- list) {
                <tr>
                    <td>@paper.id</td>
                    <td>@paper.title</td>
                    <td>@paper.topic</td>
                    <td>@paper.contactEmail</td>
                    <td>@String.join("; ", Paper.getAuthors(paper.id))</td>
                    <td>@paper.awardCandidate</td>
                    <td>@paper.studentVolunteer</td>
                    <td>@paper.status</td>
                    <td>@paper.paperAbstract</td>
                    <td>@paper.conference.title</td>
                    <td>@if(paper.fileFormat == null){
                        @helper.form(action = routes.PaperController.uploadPaper(paper.id), 'enctype -> "multipart/form-data") {
                           <input type="file" name="file">
                           <input class="btn btn-default" type="submit">
                        }}else{
                            @paper.fileFormat, @paper.fileSize Mb
                        }
                    </td>
                    <td>@paper.submissionDate</td>
                    <td>
                        <a id="editPaper" class="btn btn-default" href="@routes.PaperController.editPaper(paper.id)">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
            }
      </tbody>
    </table>
    <script>
            $("#conf_list").on("change",function () {
                $(this).closest("form").submit();
            })
    </script>
}