@import forms.ConferenceList
@(list: List[Conference], listUser: List[java.lang.String], flash: play.mvc.Http.Flash)
@import helper._


@main {

<h2>Conferences</h2>
<form method="GET" action="/conferencessearch">
    Search Conferences:
    <br>
    <br>
    <select id="conf_status", name="conf_status">
        <option value="all">All Status</option>
        <option value="active">Active</option>
        <option value="archived">Archived</option>
    </select>
    <input type="search" name="keyword" id="keyword"  placeholder="Conference name">
    <input type="submit" id="submit" value="Search" class="btn primary">
</form>
<h2 id="homeTitle">Conferences found: @list.size()</h2>
<table class="table-condensed zebra-striped">
    <thead>
    <tr>
        <th>Conference Acronym</th>
        <th>Conference Title</th>
        <th>Location</th>
        <th>Date</th>
        <th>Status</th>
        <th>Paper</th>
        <th>Review</th>
        <th>Admin</th>
    </tr>
    </thead>

    <tbody>
        @for(conference <- list) {
        <tr>
            <td>@conference.acronym</td>
            <td>@conference.title</td>
            <td>@conference.location</td>
            <td>@conference.deadline</td>
            <td>@conference.status</td>
            <td>@if(listUser.contains(conference.title)){
                <a href="/papers?=conf_id=@conference.id">Paper</a>
                }
            </td>
            <td>@if(listUser.contains(conference.title)){
                <a href="/reviews/conference/@conference.id">Review</a>
                }
            </td>
            <td>@if(listUser.contains(conference.title)){
                    <a href="/admin">Admin</a>
                }
            </td>
        </tr>
        }
    </tbody>
</table>
}
