@(userForm: play.data.Form[models.User], flash: play.mvc.Http.Flash, name: String, securityQuestion: String)
@import helper._

@import helper._

@import b3.vertical.fieldConstructor


@main {

<h1>Reset Password</h1>
@b3.form(routes.UserController.resetPasswordVerify()) {

<fieldset>
    <!--# TODO: Make this work with input disabled-->
    <b>Username: </b><input type="text" name="name" value="@name" />
    <br><b>Security Question: </b><input type="text" name="securityQuestion" value="@securityQuestion" />
    @b3.text(userForm("securityAnswer"), '_label -> "Security Answer", '_help -> "")
</fieldset>

<div class="actions">
    <input type="submit" value="Reset Password" class="btn primary">
</div>

}

}