@(conf_id:Int, flash: play.mvc.Http.Flash)
@currentUser = @{
lib.UserStorage.getCurrentUser()
}

@main {
<div class="jumbotron alert-info">
    <h2>Welcome to conference management system!</h2>
    <p>
        Administrator page!
    </p>
    <p>
        @if(currentUser == null) {
        But first, please <a href="/login" role="button">log in</a>
        or <a href="/login" role="button">sign up</a>.
        } else {
            Select conference:
            <select id="conf_list" name="conf_id">
                <option value=""
                @if(conf_id == 0){
                    selected
                }
                >
                </option>
                @for(conf <- Conference.getConferencesByUser()) {
                    <option value=@conf.id
                        @if(conf_id == conf.id) {
                            selected
                        }
                    >
                    @conf.acronym
                    </option>
                }
            </select>
        <a href="/conferences" class="btn btn-primary btn-lg">Discover conferences</a>
        <br>
        <br>
        <a href="/papers" class="btn btn-primary btn-lg">Manage my papers</a>
        <br>
        <br>
        <a href="/paper" class="btn btn-primary btn-lg">Submit Paper</a>
        }
    </p>
</div>
}
