@import forms.ResearchTopics
@(list: List[ResearchPaper],researchTopicsForm: play.data.Form[models.ResearchPaper],flash: play.mvc.Http.Flash)
@import helper._

@import b3.vertical.fieldConstructor

@main {

<h2>Conference Administration tasks</h2><br>

@b3.form(routes.AdminController.saveResearchTopics()){
<fieldset>
    @b3.text(researchTopicsForm("research_topic"), '_label -> "Research Topic", '_help -> "")
    <br>

</fieldset>

<div class="actions">
    <input type="submit" value="Save" class="btn primary">
</div>

}
<h2 id="homeTitle">Research Topics:</h2>
<table class="table-condensed zebra-striped">
    <thead>
    <tr>
        <th>Label</th>

    </tr>
    </thead>

    <tbody>
    @for(researchTopics <- list) {
    <tr>
        <td>@researchTopics.research_topic</td>

    </tr>
    }
    </tbody>
</table>


}
